/* ヘッダー */

.header {
  background-color: #000000;
  margin-bottom: 48px;
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.nav {
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.title {
  color: #ffff;
  font-size: 80px;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__logout:hover{
  color: #fff;
  background: #87CEFA
}

/* フッター */
.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

h1 {
  width: 50%;
  margin-left: 50px;
}